.btns {
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.btns div {
    cursor: pointer;
    padding: 8px;
    margin-right: 5px;

    /* color: #666666; */
    color: var(--text-color);
    position: relative;
}

.btns div::after {
    content: '';
    display: block;
    width: 50%;

    height: 2px;
    position: absolute;
    left: 50%;

    transform: translate(-50%, -50%);
    transition: .4s;
    overflow: hidden;
}


.btns div:hover::after {
    width: 100%;
}


.activeBtn {
    border-bottom: 2px solid #47a3da;
    color: #000000;
}