.portfolio {
    min-height: 100vh;
    height: 100%;
    background: var(--bg-color-sec);
}

.portfolio h1 {
    padding-bottom: 25px;
    line-height: 1;
    color: var(--h1-color);

    border-bottom: 2px solid var(--border-color);
}



.portfolioItem {
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolioItem div {
    width: 100%;
    margin: 20px 0;
    position: relative;

    overflow: hidden;
    border-radius: 10px;
    height: 250px;

    box-shadow: 0px 10px 15px -3px rgb(0 0 0 / 20%);
    animation: shine-avatar 1.6s infinite;
}


.portfolioItem div div {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);

    background-size: 600px;
    animation: shine-lines 1.6s infinite;

}



@keyframes shine-lines {
    0% {
        background-position: -100px;
    }

    40%,
    100% {
        background-position: 140px;
    }
}

@keyframes shine-avatar {
    0% {
        background-position: -32px;
    }

    40%,
    100% {
        background-position: 208px;
    }
}

.portfolioItem div div img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: .4s;
}

.portfolioItem div:hover img {
    transform: scale(1.2);
}

.portfolioItem div ul {
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    justify-content: space-evenly;
    align-content: center;

    flex-wrap: wrap;
    left: 0;
    top: 0;

    transition: .4s;
}

.portfolioItem div:hover ul {
    background: rgba(0, 0, 0, 0.5);
}


.portfolioItem div ul li {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    font-size: 20px;
    margin-top: 100%;
    transition: ease-in-out .5s;
}

.portfolioItem div:hover ul li {
    margin-top: 0;
}

.portfolioItem div ul li a {
    color: #fff;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: #00000080;
    transition: .4s;

    display: none;
}

.portfolioItem div ul li a:hover {
    background-color: #ffffff80;
    color: #000000;

}

.portfolioItem div:hover ul li a {
    display: flex;
}


.portfolioItem div ul p {
    width: 100%;
    text-align: center;
    color: #47a3da;

    margin-top: 15px;
}












@media screen and (min-width:768px) {
    .portfolioItem div {
        width: 48%;
        flex-direction: none;
    }
}

@media screen and (min-width:993px) {
    .portfolio {
        width: 100%;
    }
}

/* @media screen and (min-width:1201px) {} */