.contact {
    width: 100%;
    height: 100%;
    background: var(--bg-color-sec);
}

.contact h1 {
    padding-bottom: 25px;
    line-height: 1;
    color: var(--h1-color);

    border-bottom: 2px solid var(--border-color);
    width: 100%;
}



.contactDiv {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.contactDiv div {
    flex-wrap: wrap;
}


/* findeMe & mailMe */
.fm {
    height: 100%;
    width: 100%;
    text-align: center;
}

.fm div {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
}

.fm div span {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;

    color: var(--span-color);
}

.fm div p {
    color: var(--p-color);
    line-height: 1.2;
    margin-top: 10px;

    font-size: 15px;
    width: 100%;
}

.fm div svg {
    color: #47a3da;
    font-size: 33px;
}

.fm div svg:hover {
    animation: myAnim 1s ease 0s 1 normal forwards;
    transform: scale(1.2);
}

@keyframes myAnim {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}






@media screen and (min-width:768px) {
    .contact {
        width: 100%;
        display: flex;
        justify-content: space-between;

        align-items: center;
        flex-wrap: wrap;
    }

    .contactSec,
    .formSec {
        width: 47%;
        min-height: 100vh;
    }
}



@media screen and (min-width:993px) {
    .contact {
        width: 100%;
    }

    .contactDiv {
        /* flex-direction: unset; */
    }


    .fm {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fm div {
        /* margin: 50px; */
    }

}

/* @media screen and (min-width:1201px) {} */