.layout {
    width: 100%;
    margin-top: 62px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    overflow: hidden;
}

.layout>div{
    background: red;
}

.layoutLeft {
    width: 50%;
    height: 100%;
}

.layoutRight {
    width: 65%;
    height: 100%;
    margin-left: 25%;
}






@media screen and (max-width:767px) {
    .layout {
        padding: 30px;
        margin: 62px;
    }

}

@media screen and (min-width:768px) {
    .layoutLeft {
        padding: 50px;
        margin-top: 62px;
    }
}

@media screen and (min-width:993px) {
    .layout {
        padding: 60px;
        margin-left: 25%;
        width: 60%;
        display: flex;
        justify-content: center;
    }

    .layoutLeft {
        padding: 50px;
        margin-top: 62px;
    }
}

@media screen and (min-width:1201px) {
    .layout {
        width: 65%;
        margin-left: 5%;
    }

    .layoutRight {
        width: 65%;
    }

}