* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

#root {
  white-space: pre-line;
}

:root {
  --bg-color: #ecf0f1;
  --bg-color-sec: #ffffff;
  --box-shadow-sec: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  --box-shadow-menuTM: 0px 10px 15px -3px rgb(0 0 0 / 15%);
  --h1-color: #222222;
  --h4-color: #252525;

  --span-color: #000000;
  --strong-color: #222222;
  --p-color: #111111;

  --border-color: #00000014;
  --text-color: #666666;
}


[data-theme="dark"] {
  --bg-color: #282121;
  --bg-color-sec: #282121;
  --box-shadow-sec: 0 10px 30px 0 rgb(185 185 185 / 15%);

  --box-shadow-menuTM: 0px 10px 15px -3px rgba(145, 145, 145, 0.15);
  --h1-color: #ffffff;
  --h4-color: #ffffff;

  --span-color: #ffffff;
  --strong-color: #ffffff;
  --p-color: #ffffff;

  --border-color: #4a4a4a;
  --text-color: #e2e2e2;

}

body {
  width: 100%;
  background: var(--bg-color);
  color: var(--text-color);
}



.App {
  overflow: hidden;
}

.title {
  width: fit-content;
}

.title h4 {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;

  color: var(--h4-color);
  margin-top: 20px;

  width: fit-content;
}

.title img {
  margin: 10px 0;
  width: 100%;
}



/* @media screen and (min-width:768px){} */

@media screen and (min-width:993px) {
  .App {
    display: block;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width:1201px) {}